@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,89.5,300..800;1,89.5,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-color: #000000;
  --second-bg-color: #161616;
  --text-color: #fff;
  --main-color: #7b4bb7;
  --main-text-color: #002d5b;
}
.container {
  min-height: 110vh;
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid #222;
  /* background-color: var(--main-color); */
}
.navbar {
  height: 80px;
  width: 100%;
  /* background-color: var(--text-color); */
  background-color: #001f3f;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.navbar ul {
  display: flex;
  height: 80px;
  align-items: center;
  border-bottom: 2px solid #222;
}
.navbar li {
  position: relative;
  left: 40rem;
  margin-left: 40px;
  font-size: 20px;
}
.navbar h2 {
  position: relative;
  left: 10rem;
  font-size: 30px;
  cursor: pointer;
  color: #cf2e2e;
  font-family: "Playfair Display", serif;
}
.navbar h2 a {
  color: #cf2e2e;
}
.navbar li a {
  color: var(--text-color);
}

.main-section h2 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
}
.main-section h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
}
.main-section {
  height: 400px;
  width: 60rem;
  position: relative;
  left: 14rem;
  top: -1rem;
  color: #002d5b;
  /* background-color: blue; */
}
.main-section span {
  font-family: "Playfair Display", serif;
  font-size: 50px;
}
.main-section p {
  margin-top: 2rem;
  font-size: 1.1rem;
}
.social-media {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  top: 7rem;
  left: 10rem;
  font-size: 30px;
  position: relative;
  top: 9rem;

}
.social-media a {
  color: #002d5b;
}
.social-media a:hover {
  color: #cf332b;
}
.main-section button {
  padding: 10px 15px;
  font-size: 20px;
  color: #fff;
  background-color: #cf2e2e;
  border: none;
  outline: none;
  border-radius: 8px;
  position: relative;
  top: 3rem;
  cursor: pointer;
}
.main-section button:hover {
  background-color: #ff0d00;
}
/* Services Design */
.services {
  min-height: 100vh;
  width: 100%;
  background-color: #fcf9f9;
  position: relative;
  top: 2rem;
}
.services h1 {
  font-family: "Playfair Display", serif;
  text-align: center;
  position: relative;
  top: 20px;
}
.services p {
  position: relative;
  top: 30px;
  text-align: center;
}
.services .services-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 430px;
  width: 80rem;
  /* background-color: blue; */
  position: relative;
  top: 7rem;
  left: 1.5rem;
}
.services .frontend-services {
  height: 21rem;
  width: 20rem;
  background-color: #dfd9d9;
  border-radius: 15px;
}
.services .full-Stack-services {
  height: 21rem;
  width: 20rem;
  background-color: #dfd9d9;
  border-radius: 15px;
}
.services .frontend-services img {
  width: 70px;
  height: 70px;
  position: relative;
  left: 7rem;
  top: 10px;
}
.services .frontend-services h2 {
  text-align: center;
  position: relative;
  top: 1rem;
  font-size: 24px;
  font-family: "Playfair Display", serif;
}
.services .full-Stack-services img {
  width: 70px;
  height: 70px;
  position: relative;
  left: 7rem;
  top: 10px;
}
.services .full-Stack-services h2 {
  text-align: center;
  position: relative;
  top: 1rem;
  font-size: 24px;
  font-family: "Playfair Display", serif;
}
.services .frontend-services .circle {
  height: 40px;
  width: 40px;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  top: 3rem;
  left: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.services .frontend-services .circle:hover {
  color: #ff0d00;
}
.services .full-Stack-services .circle {
  height: 40px;
  width: 40px;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  top: 3rem;
  left: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.services .full-Stack-services .circle:hover {
  color: #ff0d00;
}
/* Portfolio Design */
.portfolio {
  min-height: 100vh;
  width: 100%;
  border-bottom: 2px solid #222;
  /* background-color: blue; */ 
}
.portfolio h2 {
  text-align: center;
  position: relative;
  top: 2rem;
  font-size: 2.5rem;
  font-family: "Playfair Display", serif;
}
.portfolio p {
  position: relative;
  top: 3rem;
  text-align: center;
  font-size: 17px;
}
.portfolio img {
  cursor: pointer;
}

/* ----------Contact-------- */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  /* background-color: red; */
}
.contact .main-contact {
  height: 400px;
  width: 750px;
  /* background-color: green; */
}
.contact h2 {
  text-align: center;
  top: 1rem;
  position: relative;
  font-size: 40px;
  font-family: "Playfair Display", serif;
  color: #002d5b;
}
.contact p {
  text-align: center;
  position: relative;
  top: 2rem;
  font-size: 17px;
}
.contact input {
  position: relative;
  top: 10rem;
  left: 5rem;
  padding: 15px 80px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  background-color: #e4e2e2;
}
.contact button {
  position: relative;
  top: 10rem;
  left: 5.5rem;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  background-color: #cf2e2e;
}
.contact button:hover {
  background-color: #ff0d00;
}
.page-social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 30vh;
  width: 100%;
  background-color: #002d5b;
}
.last-social {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  width: 30%;
  /* background-color: white; */
}
.logo-name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  width: 30%;
  /* background-color: red; */
}
.email {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  width: 30%;
  /* background-color: blue; */
}
.last-social a {
  margin-right: 20px;
  font-size: 20px;
  color: #ffffff;
}
.logo-name h2 {
  font-family: "Playfair Display", serif;
  color: #cf2e2e;
  font-size: 2.2rem;
}
.email p {
  color: white;
  font-size: 1.2rem;
}
.last-social a:hover {
  color: #cf2e2e;
}
.horizontal-line {
  height: 1px;
  width: 100%;
  color: #ffffff;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 100%;
  background-color: #002d5b;
}
.copyright h4 {
  color: #ffffff;
}

.portfolio .projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  width: 100%;
  /* background-color: white; */
  position: relative;
  top: 10rem;
}
.projects img {
  height: 300px;
  width: 500px;
  border-radius: 20px;
}
.portfolio button {
  position: relative;
  top: 12rem;
  left: 46%;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  background-color: #cf2e2e;
}
.portfolio button:hover{
  background-color: #f52217;
}
